<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="display-4">
    Welcome to {{ title }}!
  </h1>
</div>
<hr>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 18rem; height: 32.5rem;">
        <img class="card-img-top" src="{{ product.imageUrl }}" alt="{{product.title}}">
        <div class="overlay">
          <small>
            Added:{{product.createdAt | date}}
            <br>
            Prodcut id: {{ product.product_id}}
          </small>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ product.title}}</h5>
          <small>In category <i class="fa fa-angle-right" aria-hidden="true">{{product.sourceCategory}}</i></small>
          <div class="card-text">
            <div>{{ product.name }}</div>
            <div>{{ product.domain }}</div>
            <div class="align-right">
              <span class="text-danger mr-3">{{ product.price }}</span>
              <span class="review" data-toggle="tooltip" data-placement="top" data-html="true"
                title="Click arrow see Product Ratings">
                {{ product.reviewCount}}(reviews)
                <i class="fa fa-angle-down" data-toggle="modal" data-target="#myModal" aria-hidden="true"></i></span>
            </div>
          </div>
          <span>Latest Review: {{ product.latestReviewDate | date }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Prodcut Ratings</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-4">
            <ul>
              <li *ngFor="let item of product.topScores" style="list-style: none;">
                {{ item.topic }}
              </li>
            </ul>
          </div>
          <div class="col-xs-4">
            <ul>
              <li *ngFor="let item of product.topScores" style="list-style: none;">
                {{ item.score }}
                <i class="fa fa-star checked" *ngIf="item.score >= 1" aria-hidden="true"></i>
                <i class="fa fa-star checked" *ngIf="item.score >= 2" aria-hidden="true"></i>
                <i class="fa fa-star checked" *ngIf="item.score >= 3" aria-hidden="true"></i>
                <i class="fa fa-star checked" *ngIf="item.score >= 4" aria-hidden="true"></i>
                <i class="fa fa-star checked" *ngIf="item.score == 5" aria-hidden="true"></i>
                <i class="fa fa-star-o" *ngIf="item.score < 1" aria-hidden="true"></i>
                <i class="fa fa-star-o" *ngIf="item.score < 2" aria-hidden="true"></i>
                <i class="fa fa-star-o" *ngIf="item.score < 3" aria-hidden="true"></i>
                <i class="fa fa-star-o" *ngIf="item.score < 4" aria-hidden="true"></i>
                <i class="fa fa-star-o" *ngIf="item.score < 5" aria-hidden="true"></i>
              </li>
            </ul>
          </div>
        </div>


        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
